{% if not app.user %}
<nav id="dashboard-navbar-login" class="navbar navbar-light">
    <a class="btn btn-sm btn-light" href="#" role="button" data-toggle="modal" data-target="#dlgLogin" title="Sign In"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
</nav>
{{ login_dialog('dlgLogin') }}
{% else %}
<nav id="dashboard-navbar" class="navbar navbar-expand navbar-light">
    <a class="navbar-brand" href="{{ path('homepage') }}"><img alt="GeniBase" src="/images/genibase-logo/gb-logo-full.svg" height="30" /></a>
    
    <ul class="navbar-nav ml-auto">
{#        <li class="nav-item dropdown ml-2">
            <a id="dropdownMail" role="button" data-toggle="dropdown" class="nav-link active dropdown-toggle p-0" href="#" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-envelope-o"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMail">
                <a class="dropdown-item" href="#"><i
                        class="fa fa-lock fa-fw mr-1"></i> Edit Account</a>
                <a class="dropdown-item" href="#"><i
                        class="fa fa-id-card-o fa-fw mr-1"></i> Public
                            Profile</a>
            </div>
        </li>{##}
		<li class="nav-item dropdown ml-2">
            <a id="dropdownAccount" role="button" data-toggle="dropdown" class="nav-link active dropdown-toggle p-0" href="#" aria-haspopup="true" aria-expanded="false">
                <img src="/images/guy-6.jpg" alt="Avatar" class="img-circle" height="30">
            </a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownAccount">
				<a class="dropdown-item" href="#">
				    <i class="fa fa-lock fa-fw mr-1"></i> Edit Account
			    </a>
				<a class="dropdown-item" href="#">
				    <i class="fa fa-id-card-o fa-fw mr-1"></i> Public Profile
			    </a>
                <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{ logout_path() }}">
				    <i class="fa fa-sign-out fa-fw mr-1" aria-hidden="true"></i>Logout
			    </a>
			</div>
		</li>
	</ul>
</nav>
	{% endif %}
{#    <span>Hello {{ app.user.username }}! Your email is {{ app.user.email|default('"unknown"') }}</span>#}
