{% extends "layout.html.twig" %}

{% block title %}{{ gedcomx.getPlaces()[0].getNames()[0].getValue() }}{% endblock %}

{% block content %}
	<div class="card my-3">
		{% set bc = '' %}
    	{% for place in gedcomx.getPlaces() %}
        	{% if bc is empty %}
        	    {% set bc = '<li class="breadcrumb-item active"></li>' %}
        	{% else %}
        	    {% set bc = '<li class="breadcrumb-item"><a rel="up" href="' ~ path('place', {'id': place.getId()}) ~ '"><i class="fa fa-map-marker mr-1" aria-hidden="true"></i>' ~ place.getNames()[0].getValue() ~ '</a></li>' ~ bc %}
        	{% endif %}
    	{% endfor %}
		<ol class="card-header breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{{ path('places-root') }}"><i class="fa fa-globe mr-1" aria-hidden="true"></i>Весь мир</a></li>
			{{ bc|raw }}
		</ol>
        {% set place = gedcomx.getPlaces()[0] %}
        {% if place.getLatitude() %}
		<div class="card-img-top place-map" style="background-image:url('{{ place_map(place) }}')"></div>
		{% endif %}
		<div class="card-block">
            <h2 class="card-title"><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>{%
            set firstName = true %}{%
            set hasAsserts = false %}{%
            for name in place.getNames() %}{%
                if not firstName %}{% 
                    if hasAsserts %}, {% else %} <small>({% endif %}{% 
                    set hasAsserts = true %}{% 
                endif %}{{ 
                name.getValue() }}{% 
                set firstName = false %}{% 
            endfor %}{% 
            if hasAsserts %})</small>{% endif %}</h2>
			<div class="card-subtitle mt-3">
        	{% if place.getTemporalDescription() != null %}
        		{{ place.getTemporalDescription().getNormalizedExtensions()[1].getValue() }}
				<span class="mx-3">&bullet;</span>
        	{% endif %}
        	{% if place.getLatitude() %}
    			<a target="_blank" href="//maps.google.com/maps/place/{{ '%-08s'|format(place.getLatitude()) }},+{{ '%-08s'|format(place.getLongitude()) }}/@{{ place.getLatitude() }},{{ place.getLongitude() }},11z"><i class="fa fa-map-o" aria-hidden="true"></i> на&nbsp;современной карте</a>
    			<span class="mx-3">&bullet;</span>
    			<a target="_blank" href="//etomesto.com/map-atlas_russia-1913/?y={{ place.getLatitude() }}&x={{ place.getLongitude() }}"><i class="fa fa-map-o" aria-hidden="true"></i> на&nbsp;старинной карте</a>
    			<span class="mx-3">&bullet;</span>
        	{% endif %}
            {% if place.getConfidence() %}
                <span class="confidence">Достоверность:
                {% if place.getConfidence() == "http://gedcomx.org/High" %}
                    <span class="high"><i class="fa fa-certificate mr-1" aria-hidden="true"></i>Высокая</span>
                {% elseif place.getConfidence() == "http://gedcomx.org/Medium" %}
                    <span class="medium"><i class="fa fa-certificate mr-1" aria-hidden="true"></i>Средняя</span>
                {% elseif place.getConfidence() == "http://gedcomx.org/Low" %}
                    <span class="low"><i class="fa fa-certificate mr-1" aria-hidden="true"></i>Низкая</span>
                {% endif %}
                </span>
                <span class="mx-3">&bullet;</span>
            {% endif %}
                <span class="text-nowrap">{{ place.getId() }}</span>
{#                <span class="hidden-text">
                {% if place.getIdentifiers() %}
                    <span class="mx-3">&bullet;</span>
                    <span class="text-nowrap"><a rel="nofollow" target="_blank" href="{{ place.getIdentifiers()[0].getValue()|raw }}">{{ place.getIdentifiers()[0].getValue() }}</a></span>
                {% endif %}
                {% if place.getType() %}
                    <span class="mx-3">&bullet;</span>
                    <span class="text-nowrap">{{ place.getType() }}</span>
                {% endif %}
                </span>
#}			</div>
			<div class="card-text mt-3">
			    {% if gedcomx.getSourceDescriptions() %}
                    {% set desc = gedcomx.getSourceDescriptions()[0] %}
                    {% if desc %}
                <div class="description text-justify mt-3 mx-md-5">{{ desc.getCitations()[0].getValue()|raw }}</div>
                    {% endif %}
                {% endif %}
                {% if components %}
                <div class="mt-3">
            		<h3>Включает в себя</h3>
            		<ul class="list-unstyled component-refs">
            		{% set first_shown = false %}
                	{% for place in components %}
					    <li><a href="{{ path('place', {'id': place.getId()}) }}"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{ place.getNames()[0].getValue() }}</a>
					    <span class="place-short-info">
					    {% if place.getTemporalDescription() != null %}
                            ({{ place.getTemporalDescription().getNormalizedExtensions()[0].getValue() }})
                        {% endif %}
{#                        {% if place.getType() %}
                            {% if place.getType() == '//GeniBase/Settlement' %}
                            <i class="fa fa-home place-type-icon" aria-hidden="true"></i>
                            {% else %}
                            <i class="fa fa-sitemap place-type-icon" aria-hidden="true"></i>
                            {% endif %}
                        {% else %}
                            <i class="fa fa-question place-type-icon" aria-hidden="true"></i>
                        {% endif %}
#}                        </span></li>
            	    {% endfor %}
            	    </ul>
                </div>
            	{% endif %}
            	{% if neighbors %}
    			<div class="mt-5">
            		<h3>Поблизости также находятся</h3>
            		<ul class="list-unstyled component-refs">
            		{% set first_shown = false %}
                	{% for place in neighbors %}
                        <li><small>{{ place_dist(place) }} км ({{ place_dist(place, 'verst') }} в.):</small> <a href="{{ path('place', {'id': place.getId()}) }}"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{ place.getNames()[0].getValue() }}</a>
                        <span class="place-short-info">
                        {% if place.getTemporalDescription() != null %}
                            ({{ place.getTemporalDescription().getNormalizedExtensions()[0].getValue() }})
                        {% endif %}
{#                        {% if place.getType() %}
                            {% if place.getType() == '//GeniBase/Settlement' %}
                            <i class="fa fa-home place-type-icon" aria-hidden="true"></i>
                            {% else %}
                            <i class="fa fa-sitemap place-type-icon" aria-hidden="true"></i>
                            {% endif %}
                        {% else %}
                            <i class="fa fa-question place-type-icon" aria-hidden="true"></i>
                        {% endif %}
#}                        </span></li>
            	    {% endfor %}
            	    </ul>
    			</div>
            	{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
